h1 {
    border-bottom: 1px solid #f856ed;
    font-size: 40px;
    /*color: #45cb09;*/
    padding: 0px;
    letter-spacing: 0px;
    display: inline-block;
    vertical-align:middle;
    font-weight: normal;
    color: #f856ed;
}

h2 {

    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 40px;
    padding: 0px;
    color: #f856ed;
    

}

my_text{

    font-size: 20px;
    background-color: #fef2fc;
    padding-bottom: 0px;
    color: #f856ed;
    font-weight: lighter;
    
}
